DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"

# รันคำสั่ง console.log(require('crypto').randomBytes(32).toString('hex')); เพื่อสร้างค่า secret
JWT_SECRET="JWT_SECRET_KEY_HERE"

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

IMAGE_NAME=
IMAGE_VERSION=
REGISTRY_PATH=